body {
    background-image: url(../images/fondo-de-cielo-pastel-con-espacio-de-texto.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

nav {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
}

.banner {
    background-image: url(../images/dex-ezekiel-IxDPZ-AHfoI-unsplash.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

#tittlebanner {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: hsl(335, 81%, 51%);
}

.banner p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 20px;
    color: lch(100% 0.01 296.81);
}

.item {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.oculto {
    display: none !important;
}

.fondofooter {
    background-color: lab(71.57% 46.1 -9.55 / 0.706);
    padding-top: 0.3cm;
    padding-bottom: 0.3cm;
    opacity: 0, 1;
}
